# --- R Specific ---
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj

# --- Data & Large Objects ---
# We ignore all data files except the sample metadata you want to share
data/*
!data/pdata_LapNet.csv
*.RData
*.rds
*.csv
*.tsv
*.gz

# Exceptions: Allow the specific metadata and the environment file
!data/pdata_LapNet.csv
!env/PDACMOC_env.yml

# --- Results ---
# Ignore figures and tables generated locally to keep the repo clean
results/*
!results/.gitkeep

# --- OS Specific ---
.DS_Store
Thumbs.db